{% extends 'base.html' %}

{% block titulo %}
    Criar receita
{% endblock %}

{% block body %}
    <form method="POST" action="" class="border p-4 m-4">
        {{ form_criar_receita.csrf_token }}
        <legend>Criar receita</legend>

        {% for campo in form_criar_receita.ingredientes %}
            <div class="form-group">
                {{ campo(class="form-control mb-2 ingrediente") }}
            </div>
        {% endfor %}

        <div class="form-group">
            {{ form_criar_receita.calorias.label }}
            {{ form_criar_receita.calorias(class="form-control") }}
        </div>
        {{ form_criar_receita.botao_submit_criar_receita(class="btn btn-primary mt-4") }}
    </form>

    <div class="d-flex px-4 mb-4 align-items-center gap-2">
        <a href="{{ url_for('criar_receita', num_entradas=form_criar_receita.ingredientes.min_entries - 1) }}" class="btn btn-secondary"><i class="fa-solid fa-minus"></i></a>
        <p class="mb-0">{{form_criar_receita.ingredientes.min_entries}} ingredientes</p>
        <a href="{{ url_for('criar_receita', num_entradas=form_criar_receita.ingredientes.min_entries + 1) }}" class="btn btn-secondary"><i class="fa-solid fa-plus"></i></a>
    </div>


    {% if receita %}
        <div class="px-4 pb-4 pt-2">
            <hr>
            <h1>{{ receita.nome_receita }}</h1>
            <p>{{ receita.calorias }} calorias</p>
            <h3>Ingredientes</h3>
            <ul>
                {% for ingrediente in receita.ingredientes %}
                    <li>{{ ingrediente }}</li>
                {% endfor %}
            </ul>
            <h3>Modo de preparo</h3>
            <ol>
                {% for passo in receita.modo_preparo %}
                    <li>{{ passo }}</li>
                {% endfor %}
            </ol>
            <h3>Rendimento</h3>
            <p>{{ receita.rendimento }}</p>
            <a href="{{ url_for('regerar_receita') }}" class="btn btn-secondary"><i class="fa-solid fa-rotate-right"></i> Gerar a receita novamente</a>
            <a href="{{ url_for('salvar_receita') }}" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Salvar receita</a>
        </div>
    {% endif %}
    {% include 'components/footer.html' %}
{% endblock %}