{% extends 'base.html' %}

{% block titulo %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="p-4 mb-4 container-dashboard">
        <div class="d-flex flex-column align-items-center gap-4 criar-receita">
            <h3>Minhas receitas</h3>
            <img src="{{ url_for('static', filename='images/prato.png') }}" width="75%" />
            <a href="{{ url_for('criar_receita') }}" class="btn btn-warning"><i class="fa-solid fa-bowl-food"></i> Criar receita</a>
        </div>
        <div class="d-flex flex-column align-items-center container-receitas">
            {% if receitas %}
                {% for receita in receitas %}
                    <a href="{{ url_for('ver_receita', id_receita=receita.id) }}" class="btn btn-success btn-lg btn-block w-100 mb-4">{{ receita.nome }}</a>
                {% endfor %}
            {% else %}
                <p>Você ainda não criou nenhuma receita</p>
            {% endif %}
        </div>
    </div>
    {% include 'components/footer.html' %}
{% endblock %}