{% extends 'base.html' %}

{% block titulo %}
    Página inicial
{% endblock %}

{% block body %}
    <div class="container-conteudo">
        <div class="section-content">
            <div class="section-title">Bem-vindo ao Nutrigenius!</div>
            <p>
                Nutrigenius é o aplicativo inovador que transforma sua experiência culinária
                em uma jornada de saúde e bem-estar. No mundo moderno, onde a correria do dia a dia muitas
                vezes nos impede de seguir uma dieta equilibrada, o Nutrigenius surge como uma solução
                prática e inteligente. Este aplicativo foi projetado para ajudar você a criar receitas
                saudáveis usando os ingredientes que você já tem em casa e dentro das calorias disponíveis
                em sua dieta.
            </p>
        </div>
        <div>
            <img class="main-image mt-4" src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Main Image">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="cta-button" href="{{ url_for('criar_conta') }}">Quero conhecer</a>
    </div>
{% endblock %}
