{% extends 'base.html' %}

{% block titulo %}
    Login
{% endblock %}

{% block body %}
    <p>Página de login</p>
    <form method="POST" action="" class="border p-4 mt-2">
        {{ form_login.csrf_token }}
        <legend>Login</legend>
        <fieldset>
            {{ form_login.email.label }}
            {% if form_login.email.errors %}
                {{ form_login.email }}
                {% for erro in form_login.email.errors %}
                    {{ erro }}
                {% endfor %}
            {% else %}
                {{ form_login.email }}
            {% endif %}

            {{ form_login.senha.label }}
            {% if form_login.senha.errors %}
                {{ form_login.senha }}
                {% for erro in form_login.senha.errors %}
                    {{ erro }}
                {% endfor %}
            {% else %}
                {{ form_login.senha }}
            {% endif %}

            {{ form_login.lembrar_dados.label }}
            {{ form_login.lembrar_dados }}
        </fieldset>
        {{ form_login.botao_submit_login }}
    </form>
{% endblock %}