{% extends 'base.html' %}

{% block titulo %}
    {{ receita.nome }}
{% endblock %}

{% block body %}
    {% if receita %}
        <h1>{{ receita.nome }}</h1>
        <p>{{ receita.calorias }} calorias</p>
        <h3>Ingredientes</h3>
        <ul>
            {% for ingrediente in receita.ingredientes %}
                <li>{{ ingrediente.nome }}</li>
            {% endfor %}
        </ul>
        <h3>Modo de preparo</h3>
        <ol>
            {% for passo in receita.modo_preparo %}
                <li>{{ passo.passo }}</li>
            {% endfor %}
        </ol>
        <h3>Rendimento</h3>
        <p>{{ receita.rendimento }}</p>
        <a href="{{ url_for('excluir_receita', id_receita=receita.id) }}">Excluir receita</a>
    {% else %}
        <p>Essa receita não foi encontrada</p>
    {% endif %}
{% endblock %}
